@charset "UTF-8";

/*
      em HTML é id    = em CSS é #
      em HTML é class = em CSS é .
*/

body {
    background-color: rgb(48, 10, 155);
}

h1#principal {
    background-color: blueviolet;
    color: #ffffff;
    font: italic bolder 3em arial, verdana, sans-serif;
    text-align: center;
}

h1 {
    color:  rgb(255, 123, 0);
    font: normal bolder 2em arial, verdana, sans-serif;
}

h2 {
    
    font: normal bold 2m arial, verdana, sans-serif;
}
p {
    color: #ffffff;
}

.iniciante {
    color: rgb(63, 255, 143)
}

.intermediario {
    color: rgb(225, 255, 52);
    
}

.avancado {
    color: rgb(255, 65, 65)

}